{% extends 'base.html' %}

{% block head %}
    <title>Logged out</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet"> 
{% endblock head %}



{% block content %}
    <div class="container">
        <h1 style="    font-family: 'Indie Flower', cursive; color:darkblue">Logged out successfully.</h1>
        <p style="    font-family: 'Indie Flower', cursive; ">
            You have been successfully logged out.
            You can <a href="{% url "login" %}">log-in again</a>.
        </p>
    </div>
{% endblock content %}