[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-crispy-forms = "*"
pillow = "*"
cassandra-driver = "*"
django-cassandra-engine = "*"
djangorestframework = "*"

[requires]
python_version = "3.9"
