{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Task List</title>
    <link rel="stylesheet" href="{% static 'css/newtask.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet"> 
{% endblock head %}


{% block content %}
    <div class="container">
        <span style="display: block;height: 50px;"></span>
        <h1 style="    font-family: 'Indie Flower', cursive; color:darkblue">Task List <a class="btn btn-success" href="{% url 'newtask' %}" role="button">Create New Task</a> </h1>
        {% if tasks.count == 0 %}
            <span style="display: block;height: 30px;"></span>
            <p>
                You don't have any tasks.
                Create some new tasks.
            </p>
        {% endif %}
        <span style="display: block;height: 30px;"></span>
        {% for task in tasks %}
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <div class="col-xs-1-12 col-md-5">
                            <h3 style=" font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color:#4e2728">{{ task.title }}</h3>
                            <p>{{ task.description }}</p>
                            <p>
                                <a href="{% url 'completetask' task.id %}" role="button" class="btn btn-info">Complete Task</a>
                                <a class="btn btn-warning" role="button" href="{% url 'updatetask' task.id %}">Update Task</a>
                                <a href="{% url 'deletetask' task.id %}" role="button" class="btn btn-danger">Delete Task</a>
                            </p>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}